body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: black;
  color: bisque;
}

.header {
  height: 75px;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  background-image: url('brick-pixel.jpeg');
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  margin-left: 15px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  padding: 15px 0;
  margin-right: 10px;
}

.trybewarts-login input , button {
  width: 175px;
  font-size: 18px;
  margin-right: 16px;
  padding-left: 10px;
  border: 0;
  font-family: serif;
  border-radius: 10px;
}

#btn-login {
  color: white;
  background-color: rgb(108, 12, 199);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 105px;
  background: linear-gradient(#00000070, rgba(0, 0, 0, 0.4 )), url('hogwarts-pixel.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

#evaluation-form {
  width: 675px;
  display: flex;
  padding: 25px;
  flex-direction: column;
  border-radius: 13px;
  background-image: url('papiro-texture.jpg');
  font-family: monospace;
}

.input-double input {
  flex: 1;
  margin-bottom: 15px;
}

.inputs-hards-skills input {
  margin-right: 10px;
}

#evaluation-form input , #evaluation-form select , #evaluation-form textarea {
  border: 1px solid rgb(201, 152, 104);
  padding: 7px;
}

.input-double {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(201, 152, 104);
}

#input-names {
  display: flex;
}

#input-name {
  margin-right: 15px;
}

#hards-skills-family {
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(201, 152, 104);
}

.inputs-hards-skills {
  display: flex;
  margin-top: 20px;
}

#input-field {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
}

#input-field input , label {
  margin-right: 5px;
}

#label-infos , #agreement {
  font-size: 20px;
  margin-top: 30px;
}

#content-container {
  display: flex;
  flex-direction: column;
}

.label-style {
  margin-top: 25px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#submit-btn {
  background-color: rgb(201, 152, 104);
  padding: 7px;
}
