body {
  margin: 0;
  padding: 0;
}

.header {
  height: 75px;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  margin-left: 15px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  padding: 15px 0;
  margin-right: 10px;
}

.trybewarts-login input , button {
  width: 175px;
  font-size: 18px;
  margin-right: 16px;
  padding-left: 10px;
  border: 0;
  font-family: serif;
  border-radius: 10px;
}

#btn-login {
  color: white;
  background-color: rgb(108, 12, 199);
}

main {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}
